.header {
  width: 100%;
  background-color: darkred;
  padding: 1em;
  margin-bottom: 10px;
}

h1 {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
}

h3 {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
}

.text {
  display: block;
  margin: auto;
  width: 20%;
}

.radio {
  display: block;
  margin: auto;
  width: 30%;
}

#translate {
  display: inline-block;
  margin: auto;
  width: 25%;
}