header {
  width: 100%;
  background-color: darkred;
  padding: 1em;
  margin-bottom: 10px;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
}

h1,
h3 {
  margin: 0;
  padding: 0;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form * {
  font-size: 1em;
  font-weight: bold;
  padding: 1em;
  margin: 1em;
}


#translation-output {
  font-family: 'Mountains of Christmas', cursive;
  font-weight: bold;
  font-size: 5em;
  margin: .25em;
  padding: .25em;
}